.vscode
.idea
build
install
devel
log

# Built Python packages
*.egg-info

# Ignore dev containers for now
.devcontainer

# Also ignore Python virtual environments
.venv

# macOS filesystem files
.DS_Store

# Python: Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class